@font-face {
  font-family: "Rubik";
  src: url("assets/rubik-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #dcfd97;
  --red: #fabdbd;
  --yellow: #f0ee92;
  --background: #cddcf2;
  --text: #3f3d3d;
  --box-background: #f1f0ff;
  --box-background-disabled: #bbc8dd;
}

.material-symbols-outlined {
  vertical-align: middle
}

body {
  margin: 0;
  background: var(--background);
  width: 360px;
}

#title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem;
}

#explanation-text {
  width: 20rem;
  align-self: center;
}

#connected-text {
  width: 20rem;
  align-self: center;
}

#code {
  text-transform: uppercase;
  filter: brightness(100%);
  border-width: 1px;
  border: #3f3d3d;
  border-style: solid;
}

#join {
  background: var(--green);
  margin-top: 0.5rem;
}

#leave {
  background: var(--red);
}

#open-lobby {
  margin-top: 0.5rem;
}

.title-row {
  text-align: center;
}

.title-row>* {
  vertical-align: middle;
}

.flex-vertical-container {
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.text {
  font-family: "Rubik", "Verdana";
  font-size: 1.5rem;
  text-align: center;
}

.box {
  background: var(--box-background);
  color: var(--text);
  line-height: 2;
  border-width: 0px;
  border-radius: 0.25rem;
  outline: none;
  filter: drop-shadow(1px 1px 1px #444d);
}

.box:disabled {
  background: var(--box-background-disabled) !important;
  filter: brightness(100%) !important;
  cursor: default;
}

.box:not([disabled]) {
  filter: drop-shadow(1px 1px 1px #444d);
}

.button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}
