#maincanvas {
  top: 0;
  left: 0;
  width: 80vw;
  height: 98vh;
  background: #ffe;
  display: block;
}

#code {
  background: lightgray;
  font-size: larger;
  text-align: center;
}

#start-button {
  background: lightgreen;
  border-color: lightgreen;
  text-align: center;
}

#stop-button {
  background: lightcoral;
  border-color: lightcoral;
  text-align: center;
}

body {
  background-color: #aaa;
  margin: 0;
}

.flex-horizontal {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.flex-horizontal-item {
  font-size: larger;
  min-width: 0;
  flex-grow: 1;
}

.sidepane {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: gray;
  margin-left: 0px;
  padding: 10px;
  width: 18vw;
  height: 95.3vh;
}

.page-input {
  background: lightgray;
  font-size: larger;
}