@font-face {
  font-family: "Rubik";
  src: url("assets/rubik-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #dcfd97;
  --red: #fabdbd;
  --maincanvas-background: #ffe;
  --sidepane-background: #cddcf2;
  --sidepane-text: #3f3d3d;
  --box-background: #f1f0ff;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  line-height: 1.5;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

th {
  background: var(--box-background);
}

th:first-of-type {
  border-radius: 0.5rem 0 0 0;
}

th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

td {
  text-align: center;
}

[data-cell="username"] {
  text-align: left;
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.075);
}

tr:nth-of-type(2n + 1) {
  background: hsl(0 0% 0% / 0.025);
}

img {
  display: block;
  margin: 0 auto;
}

#maincanvas-sidepane-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#sidepane {
  background: var(--sidepane-background);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 1rem;
  min-width: 20%;
  max-width: 25%;
}

#maincanvas {
  background: var(--maincanvas-background);
  flex-grow: 4;
  min-width: 75%;
  max-width: 80%;
}

#title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem;
}

#code {
  cursor: default;
}

#start-button {
  background: var(--green);
  flex-grow: 2;
}

#pause-button {
  background: var(--red);
  flex-grow: 1;
}

#redraw-button {
  background: #a8c4ee;
  margin: 1rem 0 1rem 0;
}

#leaderboard-header-username img {
  margin: unset;
}

#footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.75rem;
  text-align: right;
}

.flex-horizontal-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.flex-horizontal-container > * {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

.text {
  font-family: "Rubik", "Verdana";
  font-size: 1.5rem;
  text-align: center;
}

.box {
  background: var(--box-background);
  color: var(--sidepane-text);
  line-height: 2;
  border-width: 0px;
  border-radius: 0.5rem;
  outline: none;
}

.button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}
