@font-face {
  font-family: "Rubik";
  src: url("assets/rubik-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #dcfd97;
  --red: #fabdbd;
  --yellow: #f0ee92;
  --blue: #a8c4ee;
  --maincanvas-background: #fffff5;
  --sidepane-background: #cddcf2;
  --sidepane-text: #3f3d3d;
  --box-background: #f1f0ff;
  --box-background-disabled: #bbc8dd;
}

@media (max-width: 1250px) {
  .flex-horizontal-container {
    flex-direction: column;
    align-items: stretch;
  }

  .flex-horizontal-container>* {
    width: auto !important;
  }

  #reset-button {
    margin-bottom: 0.5rem;
  }
}

body {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

th {
  background: var(--box-background);
}

th:first-of-type {
  border-radius: 0.25rem 0 0 0;
}

th:last-of-type {
  border-radius: 0 0.25rem 0 0;
}

td {
  text-align: center;
}

[data-cell="username"] {
  text-align: left;
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.075);
}

tr:nth-of-type(2n + 1) {
  background: hsl(0 0% 0% / 0.025);
}

img {
  display: block;
  margin: 0 auto;
}

#maincanvas-sidepane-container {
  display: grid;
  grid-template-columns: 72% 28%;
  height: 100vh;
  width: 100vw;
}

#sidepane {
  background: var(--sidepane-background);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
}

#maincanvas {
  background: var(--maincanvas-background);
  min-width: 0;
}

#title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem;
}

#extension-text {
  align-self: center;
}

#disconnect-text {
  align-self: center;
}

#spectator-text {
  align-self: center;
}

#example-text {
  width: 28rem;
  align-self: center;
}

#code-and-countdown {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#code {
  cursor: default;
  filter: brightness(100%);
  text-transform: uppercase;
  border-width: 1px;
  border: #3f3d3d;
  border-style: solid;
}

#start-and-goal-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#start-button {
  background: var(--green);
  flex-grow: 3;
}

#end-button {
  background: var(--red);
  flex-grow: 1;
}

#redraw-button {
  background: var(--blue);
  flex-grow: 2;
}

#reset-button {
  background: var(--red);
  flex-grow: 1;
}

#export-button {
  background: var(--blue);
}

#leaderboard-wrapper {
  overflow-x: auto;
  flex-shrink: 0;
  margin-top: 1rem;
}

#leaderboard-header-username img {
  margin: unset;
}

#footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.75rem;
  text-align: right;
  margin-top: 2rem;
}

.flex-horizontal-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.flex-horizontal-container>* {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

.flex-vertical-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-vertical-container>* {
  flex-grow: 1;
}

.text {
  font-family: "Rubik", "Verdana";
  font-size: 1.5rem;
  text-align: center;
}

.title-row {
  text-align: center;
}

.title-row>* {
  display: inline-block;
  vertical-align: middle;
}

.box {
  background: var(--box-background);
  color: var(--sidepane-text);
  line-height: 2;
  border-width: 0px;
  border-radius: 0.25rem;
  outline: none;
}

.box:disabled {
  background: var(--box-background-disabled) !important;
  filter: brightness(100%) !important;
  cursor: default;
}

.box:not([disabled]) {
  filter: drop-shadow(1px 1px 1px #444d);
}

.button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  background: white;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  background: var(--box-background);
  text-align: left;
}

.suggestion-item:hover {
  filter: brightness(85%);
}

.suggestion-item:not(:first-child) {
  border-top-style: solid;
  border-color: var(--sidepane-text);
  border-width: 1px;
}
