:root {
  --green: #dcfd97;
  --red: #fabdbd;
  --maincanvas-background: #ffe;
  --sidepane-background: #cddcf2;
  --sidepane-text: #3f3d3d;
  --box-background: #f1f0ff;
}

body {
  margin: 0;
}

#maincanvas-sidepane-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#sidepane {
  background: var(--sidepane-background);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;

  padding: 10px;
  min-width: 20%;
  max-width: 25%;
}

#maincanvas {
  background: var(--maincanvas-background);
  flex-grow: 4;
  min-width: 75%;
  max-width: 80%;
}

#sidepane {
  background: var(--sidepane-background);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;

  padding: 10px;
  min-width: 20%;
  max-width: 25%;
}

#title {
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  font-family: Verdana;
  margin: 15px;
}

#code {
  text-align: center;
}

#start-button {
  background: var(--green);
  flex-grow: 2;
}

#pause-button {
  background: var(--red);
}

#footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  text-align: right;
}

.flex-horizontal-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.flex-horizontal-item {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

.text {
  font-size: 26px;
  font-family: Verdana;
}

.box {
  background: var(--box-background);
  color: var(--sidepane-text);
  border-width: 0px;
  outline: none;
}

.button {
  border-width: 0px;
  text-align: center;
  color: var(--sidepane-text);
  cursor: pointer;
}
